networks:
  main_network_v2: {}
services:
  vocalizeai_database:
    image: postgres:17
    container_name: vocalizeai_postgres_v2
    volumes:
      - ./pgdata_main:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      TZ: America/Sao_Paulo
    ports:
      - "5433:5432"
    networks:
      - main_network_v2

  vocalizeai_backend:
    build: .
    container_name: vocalizeai_backend_v2
    ports:
      - "8001:8000"
    env_file:
      - .env.main
    depends_on:
      - vocalizeai_database
    environment:
      DATABASE_HOST: vocalizeai_database
      TZ: America/Sao_Paulo
      ENV_TYPE: main
      API_ROOT_PATH: /api

      OTEL_SERVICE_NAME: vocalizeai-backend-teste
      OTEL_RESOURCE_ATTRIBUTES: >
        service.namespace=vocalizeai,
        service.version=1.0.0,
        environment=main
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
      OTEL_EXPORTER_OTLP_PROTOCOL: grpc
      OTEL_TRACES_EXPORTER: otlp
      OTEL_TRACES_SAMPLER: parentbased_always_on
      OTEL_LOGS_EXPORTER: otlp
    networks:
      - main_network_v2
      
  vocalizeai_redis:
    image: redis:latest
    container_name: vocalizeai_redis_mv2
    ports:
      - "127.0.0.1:6380:6379"
    networks:
      - main_network_v2

  localstack:
    image: localstack/localstack:latest
    container_name: vocalizeai_localstack_v2
    ports:
      - "4567:4566" 
      - "8081:8080"
    environment:
      SERVICES: s3
      DEBUG: 1
      AWS_DEFAULT_REGION: sa-east-1
      AWS_ACCESS_KEY_ID: vocalize-local-teste
      AWS_SECRET_ACCESS_KEY: vocalize-local-teste
      DATA_DIR: /var/lib/localstack/data
    volumes:
      - "./localstack:/var/lib/localstack"
      - "./localstack/init:/etc/localstack/init/ready.d"
    networks:
      - main_network_v2
